@page "/c_Creados"

@inject EmpaquetadosBLL creados;

<EditForm Model="lista">
    <DataAnnotationsValidator />

    <div class="container-fluid">
        <div class="card text-primary">
            <div class="card-header text-center">
                <h3>Consulta Nuevos productos</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <label class="form-label">Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio">
                    </div>
                    <div class="col-2">
                        <label class="form-label">Filtro</label>
                        <select class="form-control" @bind="Filtro">
                            <option value="1">EmpacadoId</option>
                            <option value="2">Fecha</option>
                            <option value="3">Concepto </option>
                            <option value="4">Producido</option>
                            <option value="5">Cantidad</option>
                        </select>
                    </div>
                    <div class="col-3 d-flex align-items-end">
                        <button type="button" class="btn btn-primary" @onclick="Buscar">
                            <span class="oi oi-magnifying-glass"></span> Buscar
                        </button>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>EmpacadoId</th>
                            <th>Fecha</th>
                            <th>Concepto</th>
                            <th>Producido</th>
                            <th>Cantidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (lista != null && lista.Any())
                        {
                            @foreach (var N_product in lista)
                            {
                                <tr>
                                    <td>@N_product.EmpaqueId</td>
                                    <td>@N_product.Fecha</td>
                                    <td>@N_product.Concepto</td>
                                    <td>@N_product.Producido</td>
                                    <td>@N_product.Cantidad</td>
                                    <td><a href="Productos_R/@N_product.EmpaqueId">Ver</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">No se encontraron resultados</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</EditForm>
@code {
    public string Filtro { get; set; } = "";
    public string Criterio { get; set; } = "";
    public List<Empaquetados> lista { get; set; } = new List<Empaquetados>();

    public void Buscar()
    {
        switch (Filtro)
        {

            case "1":
                lista = creados.GetList(o => o.EmpaqueId.ToString().Contains(Criterio));
                break;

            case "2":
                lista = creados.GetList(o => o.Fecha.ToString().Contains(Criterio));
                break;

            case "3":
                lista = creados.GetList(o => (o.Concepto ?? "").Contains(Criterio));
                break;

            case "4":
                lista = creados.GetList(o => (o.Producido ?? "").Contains(Criterio));
                break;

            case "5":
                lista = creados.GetList(o => o.Cantidad.ToString().Contains(Criterio));
                break;


        }


    }

    protected override void OnInitialized()
    {
        lista = creados.GetList(o => true);
    }



}